# Firebase
.firebase/
.firebaserc
firebase-debug.*
firebase.json
service-account.json
set-claims*.js

# Node
node_modules/
package-lock.json

# Dart/Flutter
.dart_tool/
.packages
pubspec.lock

# Secrets
.env
*.key

# OS
.DS_Store
Thumbs.db
